.change_wrapper
   display: flex
   justify-content: center
   align-items: center
   position: fixed
   top 0
   left 0
   height 100%
   width 100%
   background: rgba(63, 51, 86, 0.4);
   z-index: 5

   .change
      width: 916px;
      height: 573px;

      background: #FFFFFF;

      box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
      border-radius: 12px;

      position relative

      .change__title
         position: absolute;
         height: 41px;
         left: 34px;

         top: calc(50% - 41px/2 - 246.5px);

         font-family: Inter;
         font-style: normal;
         font-weight: bold;
         font-size: 34px;
         line-height: 41px;

         display: flex;
         align-items: center;

         color: #000000;

      .path
         position absolute
         top 19px
         right 22px
         height 42px
         width: 42px

         display: flex
         justify-content: center
         align-items: center

         cursor pointer

      .change__form
         position absolute
         top 80px
         left 0
         height 493px
         width: 100%
         border-top: 1px solid #ECEBED;
         display: flex
         flex-wrap: wrap
         justify-content: space-around
         
         .fname, .name, .mname
            width: 240px;
            height: 48px;
                
            margin: 34px 0 0 0

            background: #FFFFFF;
            border: 1px solid #ECEBED;
            box-sizing: border-box;
            box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
            border-radius: 6px;

            padding: 14px 16px

         select 
            position: absolute;
            width: 240px;
            height: 48px;
            
            // margin: 28px 34px;
            left: 34px;
            top: 110px;                

            background: #FFFFFF;
            border: 1px solid #ECEBED;
            box-sizing: border-box;
            box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
            border-radius: 6px;
            
         input[type="button"]
            position: absolute;
            width: 180px;
            height: 40px;
            right: 22px;
            bottom: 22px;
            background: #6979F8;
            border-radius: 6px;

            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            display: flex;
            justify-content: center;
            text-align: center;
            color: #FFFFFF;
            cursor pointer

@media (max-width 1024px)
   .change__form
      flex-direction: column
      justify-content: center
